@import "./src/assets/style/colors";
@import "./src/assets/style/fonts";

.container {
  border: solid 2px $secondary-color;
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  margin: 2rem auto;
  font-family: $chakra-petch;
  p{
    margin-top: 1rem;
  }
}
