.header {
  padding: 0.5rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  @media (max-width: 425px) {
    flex-direction: column;
  }
  .search-field {
    :first-child{
      margin-right: 1rem;
    }
  }
}
