@import "./src/assets/style/colors";
@import "./src/assets/style/fonts";
@import "./src/assets/style/mixins";

.header {
  padding: 1rem 0.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $fourth-color;

  @include tablet {
    gap: 2rem;
    padding: 2rem;
  }
  .search-field {
    font-family: $chakra-petch;
    form {
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-direction: column;
      @include tablet{
        flex-direction: row;
      }
    }
  }
}
