
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  justify-items: center;
  .header {
    grid-area: header;
    align-self: center;
    width: 100%;
  }
  .content-wrapper {
    grid-area: content;
    overflow: hidden;
  }
  .footer {
    grid-area: footer;
    align-self: center;
  }
}
