@import "./src/assets/style/mixins";

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;

  @include desktop {
    grid-template-areas:
      "header header header"
      ". content ."
      "footer footer footer";
    grid-template-columns: auto 990px auto;
  }
  .header {
    grid-area: header;
  }
  .content {
    grid-area: content;
    overflow: auto;
    align-self: auto;
  }
  .footer {
    grid-area: footer;
  }
}
