@import "./src/assets/style/mixins";

.wrapper {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-auto-flow: column;
  align-content: center;
  overflow: overlay;
  @include tablet {
    grid-auto-flow: row;
    overflow-y: auto;
  }
}
