@import "./src/assets/style/mixins";

.wrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @include xl-desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
