@import "./src/assets/style/mixins";

.wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}
