<ng-container *ngIf="pokemonDetail$ | async as details">
  <section class="wrapper">
    <div class="image">
      <img src="{{ details.images.large }}" alt="" />
    </div>
    <div class="name">
      <p>{{ details.name }}</p>
      <p>id: {{ details.id }}</p>
    </div>
    <div class="types">
      <p>Type(s)</p>
      <ul>
        <li *ngFor="let type of details.types">
          {{ type }}
        </li>
      </ul>
    </div>
    <div class="weaknesses">
      <p>Weaknesse(s)</p>
      <ul>
        <li *ngFor="let weakness of details.weaknesses">
          {{ weakness.type }}
        </li>
      </ul>
    </div>
    <div class="resistances">
      <p>Resistance(s)</p>
      <ul>
        <li *ngFor="let resistance of details.resistances">
          {{ resistance.type }}
        </li>
      </ul>
    </div>
    <div class="attacks">
      <p>Attack(s)</p>
      <button
        *ngFor="let attack of details.attacks"
        (click)="openAttackModal(attack)"
      >
        {{ attack.name }}
      </button>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="selectedAttack">
  <app-wanna-be-modal [attack]="selectedAttack"></app-wanna-be-modal>
</ng-container>
